 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 @import "tailwindcss";

 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
   themes: light --default;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: #03373D;
}


body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a.active {
  background-color: red;
  border-radius: 16px;
  color: #ffffff;
}
li{
  margin-right: 5px;
}